extends ../../layout

block prepend css
  if ENV_DEVELOPMENT
    link(href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900",rel="stylesheet")
    link(href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css",rel="stylesheet")
    link(href="https://cdn.jsdelivr.net/npm/vuetify@2.5.5/dist/vuetify.css",rel="stylesheet")
    //link(rel="stylesheet", href=CDN_FILES.bootstrap_css)
  else
    //link(rel="stylesheet", href=CDN_FILES.bootstrap_css)
block append js
  if ENV_DEVELOPMENT
    //script(src=CDN_FILES.jquery_dev)
    script(src=CDN_FILES.i18next_dev)
    script(src=CDN_FILES.vue_dev)
    script(src="https://cdn.jsdelivr.net/npm/vuetify@2.5.5/dist/vuetify.js")
  else
    script(src=CDN_FILES.i18next)
    script(src=CDN_FILES.vue)

block content
  div#app
  script(src='/js/portal.js')