extends ../../layout

block prepend css
  link(href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900",rel="stylesheet")
  link(href="https://lf9-cdn-tos.bytecdntp.com/cdn/expire-1-y/MaterialDesign-Webfont/6.5.95/css/materialdesignicons.min.css",rel="stylesheet")
  if ENV_DEVELOPMENT
    link(href="https://cdn.bootcdn.net/ajax/libs/vuetify/2.6.14/vuetify.css",rel="stylesheet")
    //link(rel="stylesheet", href=CDN_FILES.bootstrap_css)
  else
    //link(rel="stylesheet", href=CDN_FILES.bootstrap_css)
    link(href="https://cdn.bootcdn.net/ajax/libs/vuetify/2.6.14/vuetify.min.css",rel="stylesheet")
block append js
  if ENV_DEVELOPMENT
    script(src=CDN_FILES.jquery_dev)
    script(src=CDN_FILES.i18next_dev)
    script(src=CDN_FILES.vue_dev)
    script(src="https://cdn.bootcdn.net/ajax/libs/vue-router/3.6.5/vue-router.js")
    script(src="https://cdn.bootcdn.net/ajax/libs/vuetify/2.6.14/vuetify.js")
    script(src=CDN_FILES.momentjs_dev)
  else
    script(src=CDN_FILES.jquery)
    script(src=CDN_FILES.i18next)
    script(src=CDN_FILES.vue)
    script(src="https://cdn.bootcdn.net/ajax/libs/vue-router/3.6.5/vue-router.min.js")
    script(src="https://cdn.bootcdn.net/ajax/libs/vuetify/2.6.14/vuetify.min.js")
    script(src=CDN_FILES.momentjs)
  script(src='/js/portal.js')

block content
  div#app
