//Define template for select member modal dailog component (Vue.js)
script#member-select-modal-template(type='text/x-template')
  div.modal.fade(tabindex='-1',data-backdrop='static')
    div.modal-dialog
      div.modal-content
        div.modal-header
          button.close(type="button",data-dismiss="modal",aria-label="Close")
            span(aria-hidden="true") &times
          h4.modal-title= __('member_select_title')
        div.modal-body
          slot(name='toolbar')
          table(data-checkbox-header='false',data-striped='true',data-search='true',data-pagination='true',data-page-size='8',data-unique-id="_id",data-search-align='right',data-click-to-select='true')
            thead
              tr
                //th(data-field='_id',data-visible='false') ID
                th(v-if='multiSelection',data-checkbox='true')
                th(v-else,data-radio='true')
                th(data-field='name',data-sortable='true')= __('member_name')
                th(data-field='contact')= __('member_contact')
                th(data-field='membership') 剩余课时
        div.modal-footer
          p.small(style='color:#777;float:left;margin-top:7px') *仅显示激活会员
          button.btn.btn-default(type="button",data-dismiss="modal")= __('dialog_cancel')
          button.btn.btn-success(type="button",@click='handleOK')= __('dialog_ok')