//Define template for show adding booking summary modal dailog component (Vue.js)
script#show-booking-result-modal-template(type='text/x-template')
  div.modal.fade(tabindex='-1',data-backdrop='static')
    div.modal-dialog
      div.modal-content
        div.modal-header
          button.close(type="button",data-dismiss="modal",aria-label="Close")
            span(aria-hidden="true") &times
          h4.modal-title= __('booking_summary_title')
        div.modal-body(style='max-height:600px;overflow:auto')
          p(style='color:#777')= __('booking_summary_description')
          div(style='margin-bottom:7px').panel.panel-success
            div.panel-heading= __('booking_successful_summary')
              span.badge(style='margin-left:3px') {{newBookingCount}}
            div.panel-body(style='padding:7px')
              ul(style='padding-left:25px')
                li(v-for='cls in result.classSummary') {{cls.name}}
                  span.badge(style='margin-left:3px;background-color:#50a751') {{cls.newbookings.length}}人
                  ul(style='padding-left:25px')
                    li(v-for='value in cls.newbookings') 会员{{value.member | getMemberName(result)}}预约成功（1人）
          div(style='margin-bottom:7px').panel.panel-danger
            div.panel-heading= __('booking_fail_summary')
              span.badge(style='margin-left:3px') {{failBookingCount}}
            div.panel-body(style='padding:7px')
              ul(style='padding-left:25px')
                li(v-for='member in result.memberSummary',v-if='member.errors.length') {{member.name}}
                  span.badge(style='margin-left:3px;background-color:#d25957') {{member.errors.length}}节
                  ul(style='padding-left:25px')
                    li(v-for='value in member.errors') 预约课程{{value.class}}失败(1人)</br><i>{{value.message}}</i>
        div.modal-footer
          button.btn.btn-default(type="button",data-dismiss="modal")= __('dialog_ok')