extends index

append css
  link(rel="stylesheet",href=CDN_FILES.bootstrap_table_css)

append js
  if ENV_DEVELOPMENT
    script(src=CDN_FILES.i18next_dev)
    script(src=CDN_FILES.vue_dev)
  else
    script(src=CDN_FILES.i18next)
    script(src=CDN_FILES.vue)
  script(src=CDN_FILES.bootbox)
  //script(src=CDN_FILES.bootstrap_table)
  //script(src=CDN_FILES.bootstrap_table_locale_zh_CN)
  script(type="module" src=getModulePath('admin/admin.js'))

block page
  div.container(style={'padding-top': '58px'})
    div#app
