extends layout

block append css
  if ENV_DEVELOPMENT
    link(rel="stylesheet", href=CDN_FILES.bootstrap_css)
  else
    link(rel="stylesheet", href=CDN_FILES.bootstrap_css)
  link(rel="stylesheet", href=CDN_FILES.bootstrap_icons)
  link(rel="stylesheet",href=CDN_FILES.bootstrap_table_css)

block append js
  if ENV_DEVELOPMENT
    script(src=CDN_FILES.jquery_dev)
    script(src=CDN_FILES.bootstrap_dev)
  else
    script(src=CDN_FILES.jquery)
    script(src=CDN_FILES.bootstrap)
  script(src=CDN_FILES.bootstrap_table)
  script(src=CDN_FILES.bootstrap_table_locale_zh_CN)

block content
  nav.navbar.navbar-dark.bg-primary.navbar-expand-sm.fixed-top
    div.container-md
      a.navbar-brand(href='/')= navTitle
      button.navbar-toggler(type='button',data-bs-toggle='collapse',data-bs-target='#navbar', aria-expanded='false', aria-controls='navbar')
        span.navbar-toggler-icon
      div#navbar.navbar-collapse.collapse
        block navlist
        if !user
          form.d-flex.ms-auto(role='form', action='/login',method='post')
            input.form-control.me-1(type='text', name='username',placeholder='邮箱',style='width:9rem')
            input.form-control.me-1(type='password',name='password',placeholder='密码',style='width:9rem')
            button.btn.btn-success(type='submit') 登录
        else
          span.navbar-text.me-2= user.displayName
          form.d-flex(role='form', action='/logout',method='get')
            button.btn.btn-danger(type='submit') 注销

  if errorMsg && errorMsg.length > 0
    div.container
      div.alert.alert-danger(role='alert', style={'margin':'75px 0 -55px 0'})= errorMsg

  block page
    div.container(style='padding-top:75px')
      div.p-5.mb-4.bg-light.rounded-3
        h1.display-3.fw-bold 欢迎访问
        p.col-12.fs-5 教培管理系统是面向教育培训机构的一站式解决方案，集课程、学员、班级管理于一体，提供移动端报名试听，学员自助约课等便捷功能。
        p.col-12.fs-5 <strong>致力于帮助培训机构提升门店经营效率，降低运营成本。</strong>
        p
          a.btn.btn-primary.btn-lg(role='button',href='mailto:sales@getbestlesson.com',target='_blank') 申请试用
      div.page-header(style="position:relative;padding:20px 60px")
        h1.text-center 核心功能
        div(style="margin-top:60px")
          h4(style="font-weight:600") 教学教务
          p 常规排课、课上签到、学员管理、课消统计、出勤统计
        div(style="margin-top:40px")
          h4(style="font-weight:600") 家校服务
          p 学员自助约课、查看剩余课时、上课进度
        div(style="margin-top:40px")
          h4(style="font-weight:600") 市场营销
          p 市场采单、短信验证、线上支付
        p(style="margin-top:40px")
          a.btn.btn-default.btn-lg(role='button') 查看更多
        img(src="/img/home-480x320.png",style="width:480px;height:320px;position:absolute;top:110px;left:550px")
        img(src="/img/mobile-200x400.png",style="width:130px;height:260px;position:absolute;top:200px;left:510px")
  //keep the content above the footer area
  div.hidden-print(style='height:60px')
  footer.footer.hidden-print
    div.container-md
      span(style='float:left;margin:20px 0px')
        a(href='mailto:sales@getbestlesson.com',target='_blank')
          small 联系邮箱
      div(style='float:right;margin:7px 0;text-align:right')
        a.small.text-muted(target="_blank",href="https://beian.miit.gov.cn/") 沪ICP备16016548号-2
        div.small(style='width:300px;margin:0 auto;')
          a(target="_blank",href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=31011402006462",style="display:inline-block;text-decoration:none;height:20px;line-height:20px;")
            img(src="/img/cs_logo.png", style='float:left')
            p(style='float:left;height:20px;line-height:20px;margin: 0px 0px 0px 5px; color:#939393;') 沪公网安备 31011402006462号
