extends layout

block prepend css
  if ENV_DEVELOPMENT
    link(rel="stylesheet", href=CDN_FILES.bootstrap_css)
  else
    link(rel="stylesheet", href=CDN_FILES.bootstrap_css)
block append js
  if ENV_DEVELOPMENT
    script(src=CDN_FILES.jquery_dev)
    script(src=CDN_FILES.bootstrap_dev)
  else
    script(src=CDN_FILES.jquery)
    script(src=CDN_FILES.bootstrap)