tenant-setting(style='display:none' feature=tenant_feature)
script.
    function _getTenantConfig() {
        return {
            logoPath: "#{logoPath}",
            contact: "#{tenant_contact}",
            address: "#{tenant_address}",
            addressLink: "#{tenant_addressLink}",
            classrooms: !{JSON.stringify(classrooms||[])},
            types: !{JSON.stringify(types||[])},
            feature: "#{tenant_feature}",
            wechat_appId: "#{wechat_appId}"
        };
    };

if tenant_systemMessage
    div.alert.alert-danger.system-warning-message
        button.close(type="button" data-dismiss="alert") &times;
        span.glyphicon.glyphicon-exclamation-sign.me-3
        strong 系统消息
        h3.text-center(style="margin:20px 7px;line-height:2em") !{tenant_systemMessage}
