extends ../index

append css
  link(rel="stylesheet",href="#{CDN_FILES.bootstrap_table_css}")
  link(rel="stylesheet",href="//cdn.bootcss.com/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css")

append js
  script(src="//cdn.bootcss.com/moment.js/2.13.0/moment-with-locales.min.js")
  //script(src='/components/bootbox.js/bootbox.js')
  script(src='#{CDN_FILES.bootbox}')
  //script(src='/components/requirejs/require.js',data-main="/js/main")
  script(src="#{CDN_FILES.bootstrap_table}")
  script(src="#{CDN_FILES.bootstrap_table_locale_zh_CN}")
  script(src="//cdn.bootcss.com/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js")
  if ENV_DEVELOPMENT
    script(src="#{CDN_FILES.i18next_dev}")
    script(src="#{CDN_FILES.vue_dev}")
  else
    script(src="#{CDN_FILES.i18next}")
    script(src="#{CDN_FILES.vue}")
  script(src='/js/class_view.js')
  style.
    .container .page-header {
      margin: 15px 0;
      padding-bottom: 3px;
    }
block page
  div#class_app.container(style='padding-top:69px',data-class-id='#{classID}')
    ol.breadcrumb
      li
        a(href="../home") 主页
      li
        a(href="../home") 课程表
      li.active 查看课程
    div.page-header
      h3(style='margin-top:0;display:inline-block') 基本信息
      button.btn.btn-danger(type='button',style='float:right',:disabled='!cls._id',@click='deleteClass') 删除课程
    form.form-horizontal
      div.form-group(:class='{"has-error": errors.name}')
        label.control-label.col-sm-2 课程名称:
        div.col-sm-5(data-toggle="tooltip",data-placement="right",:title="errors.name")
          input.form-control(type='text',v-model.trim='cls.name',placeholder='课程描述')
      div.form-group
        label.control-label.col-sm-2 教室:
        select.form-control.col-sm-10(style='margin-left:15px;width:auto',v-model='cls.classroom')
          - each room in classroom
            option(value=room.id)= room.name
      div.form-group
        label.control-label.col-sm-2 老师:
        select.form-control.col-sm-10(style='margin-left:15px;width:auto',v-model='cls.teacher')
          option(v-for='t in teachers',:value='t._id') {{t.name}}
      div.form-group(v-show='cls.courseID',style='display:none')
        label.control-label.col-sm-2 所属班级:
        div.col-sm-10
          a.button.btn-primary.btn-sm(:href='"../course/" +cls.courseID',style='line-height:34px') 查看
      div.form-group
        label.control-label.col-sm-2 所须课时:
        div.col-sm-10
          p.form-control-static {{cls.cost}}
      div.form-group(:class='{"has-error": errors.date}')
        label.control-label.col-sm-2 日期/时间:
        div.col-sm-4(data-toggle="tooltip",data-placement="right",:title="errors.date")
          div#class_date.input-group.date
            input.form-control(type='text')
            span.input-group-addon
              span.glyphicon.glyphicon-calendar
      div.form-group(:class='{"has-error": errors.age}')
        label.control-label.col-sm-2 年龄:
        div.col-sm-10(style="display:inline-flex",data-toggle="tooltip",data-placement="right",:title="errors.age")
          input.form-control(type='number',v-model.number='cls.age.min',min='0',style={'width':'70px'})
          p.form-control-static(style={'display':'inline-block','margin-left':'3px','float':'left'}) 至
          input.form-control(type='number',v-model.number='cls.age.max',min='0',style={'width':'70px','margin-left':'3px'})
          p.form-control-static(style={'display':'inline-block','margin-left':'3px'}) 月
      div.form-group(:class='{"has-error": errors.capacity}')
        label.control-label.col-sm-2 最大人数:
        div.col-sm-2(data-toggle="tooltip" data-placement="right",:title="errors.capacity")
          input.form-control(type='number',min='0',v-model.number='cls.capacity')
      div.form-group
        div.col-sm-offset-2.col-sm-10
          button.btn.btn-success(type='button',v-on:click='saveBasicInfo',:disabled='hasError') 保存
    div.page-header
      h3 预约
    form.form-horizontal
      div.form-group
        div.col-sm-2
          button.btn.btn-primary.btn-sm(type="button",:disabled='!cls._id',@click='$refs.memberSelectDlg.show()')
            span.glyphicon.glyphicon-plus 添加
        div.col-sm-5
          ul.list-group(style='margin-bottom:0px')
            li.list-group-item(v-for="booking in reservations")
              span.glyphicon.glyphicon-user.text-primary(style='margin-right:3px')
              span.badge(style='background-color:#d9534f;cursor:pointer',@click='cancelReservation(booking)') 取消
              a.badge(:href='"../member/" + booking.member',style='margin-right:3px;background-color:#337ab7',target='_blank') 查看
              | {{booking.userName}} <small>({{booking.quantity}}人)</small>
              div.small(style='color:#777;text-align:right') 于{{booking.bookDate | formatDate}}预约
          small(style='color:#777') 共{{membersCount}}人
    div.page-header
      h3 绘本
    form.form-horizontal
      div.form-group
        div.col-sm-2
          button.btn.btn-primary.btn-sm(type="button",:disabled='!cls._id',@click='$refs.addBookDlg.show()')
            span.glyphicon.glyphicon-plus 添加
        div.col-sm-5
          template(v-for="item in cls.books")
            div.media
              div.media-left
                span.glyphicon.glyphicon-book.text-primary(style='font-size:large;opacity:0.8')
              div.media-body
                h4.media-heading(style='font-size:small') {{item.title}}
                p.small(style='color:#777') {{item.info}} by {{item.teacher}}
                  span.badge(style='background-color:#d9534f;cursor:pointer;float:right;margin-right:16px',@click='removeBook(item)') 删除
          small(style='color:#777') 共{{booksCount}}本
    add-book-modal(ref='addBookDlg',@ok='addNewBook')
    member-select-modal(ref='memberSelectDlg',@ok='addReservation')
      div.btn-group(slot='toolbar',style='display:inline-flex;position:absolute;top:25px;left:20px')
        label(style='margin-right:4px;line-height:34px') 人数:
        input.form-control(type='number',min='1',step='1',style='width:90px',v-model.number='quantity')