extends ../index

append css
  link(rel="stylesheet",href=CDN_FILES.bootstrap_table_css)
  link(rel="stylesheet",href="//cdn.bootcss.com/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css")

append js
  script(src="//cdn.bootcss.com/moment.js/2.13.0/moment-with-locales.min.js")
  //script(src='/components/bootbox.js/bootbox.js')
  script(src=CDN_FILES.bootbox)
  //script(src='/components/requirejs/require.js',data-main="/js/main")
  script(src=CDN_FILES.bootstrap_table)
  script(src=CDN_FILES.bootstrap_table_locale_zh_CN)
  script(src="//cdn.bootcss.com/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js")
  if ENV_DEVELOPMENT
    script(src=CDN_FILES.i18next_dev)
    script(src=CDN_FILES.vue_dev)
  else
    script(src=CDN_FILES.i18next)
    script(src=CDN_FILES.vue)
  script(src='/js/class_view.js')
  style.
    .container .page-header {
      margin: 15px 0;
      padding-bottom: 3px;
    }
  script(type='text/javascript').
    function _getClassrooms() {
        return !{JSON.stringify(classroom)};
    };
block page
  div#class_app(style='padding-top:69px',data-class-id=classID)
    class-view(:data="cls",:classrooms="_getClassrooms()")