extends ../index

block navlist
  include navigation.pug

append css
  link(rel="stylesheet",href=CDN_FILES.bootstrap_table_css)

append js
  script(src="//cdn.bootcss.com/moment.js/2.13.0/moment-with-locales.min.js")
  script(src=CDN_FILES.bootbox)
  //script(src='/components/requirejs/require.js',data-main="/js/main")
  script(src=CDN_FILES.bootstrap_table)
  script(src=CDN_FILES.bootstrap_table_locale_zh_CN)
  script(src='/js/course.js')

block page
  div.container(style='padding-top:58px')
    div#toolbar.btn-group(role='group')
      button.btn.btn-success(type='button',data-toggle='modal',data-target='#course_dlg') 创建
      div.status-filter.btn-group
        button.btn.btn-default.dropdown-toggle(type="button",data-toggle="dropdown")= __('course_status_active')
          span.caret
        ul.dropdown-menu
          li
            a(data-status=null)= __('course_status_all')
          li
            a(data-status="active")= __('course_status_active')
          li
            a(data-status="closed")= __('course_status_closed')
    table#course_table(data-show-refresh='true',data-checkbox-header='false',data-pagination='true',data-page-size='15',data-page-list='[10,15,20,50,All]',data-search='true',data-striped='true',data-url='/api/courses',data-toolbar='#toolbar',data-unique-id="_id")
      thead
        tr
          //th(data-field='_id',data-visible='false') ID
          th(data-field='name',data-sortable='true') 班级名称
          th(data-field='createDate',data-sortable='true') 创建时间
          th(data-field='status',data-sortable='true') 状态
          th(data-field='members',data-sortable='true') 人数
          th(data-width='180px',data-align='center') 操作
  div#course_dlg.modal.fade(tabindex='-1',role='dialog',data-backdrop='static')
    div.modal-dialog(role="document")
      div.modal-content
        div.modal-header
          button.close(type="button",data-dismiss="modal",aria-label="Close")
            span(aria-hidden="true") &times
          h4#myModalLabel.modal-title 添加班级
        div.modal-body
          form.form-horizontal
            div.form-group
              label.control-label.col-sm-2(for='name') 班级名称:
              div.col-sm-4
                input.form-control(type='text',name='name',placeholder='班级名称')
            div.form-group
              label.control-label.col-sm-2 教室:
              select.form-control.col-sm-4(style='margin-left:15px;width:auto',name='classroom')
                each room in classroom
                  option(value=room.id)= room.name
            div.form-group
              label.control-label.col-sm-2(for='remark') 简介:
              div.col-sm-10
                textarea.form-control(rows='3', name='remark')
        div.modal-footer
          button.btn.btn-default(type="button",data-dismiss="modal") 取消
          button#add_course.btn.btn-success(type="button") 创建