extends ../index

block navlist
  include navigation.pug

append css
  link(rel="stylesheet",href=CDN_FILES.bootstrap_table_css)
  link(rel="stylesheet",href=CDN_FILES.bootstrap_datetimepicker_css)

append js
  script(src=CDN_FILES.momentjs)
  if ENV_DEVELOPMENT
    script(src=CDN_FILES.i18next_dev)
    script(src=CDN_FILES.vue_dev)
  else
    script(src=CDN_FILES.i18next)
    script(src=CDN_FILES.vue)
  script(src=CDN_FILES.bootbox)
  script(src=CDN_FILES.bootstrap_table)
  script(src=CDN_FILES.bootstrap_table_locale_zh_CN)
  script(src=CDN_FILES.bootstrap_datetimepicker)
  //script(src='/components/requirejs/require.js',data-main="/js/main")
  script(src='/js/main.js')
  script(type='text/javascript').
    function _getClassrooms() {
        return !{JSON.stringify(classrooms)};
    };

block page
  div.container(style={'padding-top': '50px'})
    h3.text-center.visible-print-block= navTitle
      small 一周课程表
    div#app