extends ../index

block navlist
  include navigation.pug

append css
  link(rel="stylesheet",href=CDN_FILES.bootstrap_datetimepicker_css)

append js
  script(src=CDN_FILES.momentjs)
  if ENV_DEVELOPMENT
    script(src=CDN_FILES.i18next_dev)
    script(src=CDN_FILES.vue_runtime_dev)
  else
    script(src=CDN_FILES.i18next)
    script(src=CDN_FILES.vue_runtime)
  script(src=CDN_FILES.bootbox)
  script(src=CDN_FILES.bootstrap_datetimepicker)
  script(src='/js/main.js')

block page
  div.container(style={'padding-top': '58px'})
    h3.text-center.visible-print-block= navTitle
      small 一周课程表
    div#app
