extends ../index

append css
  link(rel="stylesheet",href="//cdn.bootcss.com/bootstrap-table/1.11.1/bootstrap-table.min.css")
  link(rel="stylesheet",href="//cdn.bootcss.com/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css")

append js
  script(src="//cdn.bootcss.com/moment.js/2.13.0/moment-with-locales.min.js")
  //script(src='/components/bootbox.js/bootbox.js')
  script(src='//cdn.bootcss.com/bootbox.js/4.4.0/bootbox.min.js')
  //script(src='/components/requirejs/require.js',data-main="/js/main")
  script(src="//cdn.bootcss.com/bootstrap-table/1.11.1/bootstrap-table.min.js")
  script(src="//cdn.bootcss.com/bootstrap-table/1.11.1/locale/bootstrap-table-zh-CN.min.js")
  script(src="//cdn.bootcss.com/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js")
  if ENV_DEVELOPMENT
    script(src="//cdn.bootcss.com/vue/2.2.4/vue.js")
  else
    script(src="//cdn.bootcss.com/vue/2.2.4/vue.min.js")
  script(src='/js/member_view.js')
  style.
    .container .page-header {
      margin: 15px 0;
      padding-bottom: 3px;
    }
    .container .form-group {
      margin-bottom: 7px;
    }
    .container .page-header span{
    }
    .container .page-header span:hover{
      transition: all 0.5s ease-in-out;
      transform: rotate(360deg);
    }

block page
  div#member_app.container(style='padding-top:69px',data-member-id='#{memberID}')
    ol.breadcrumb
      li
        a(href="../home") 主页
      li
        a(href="../member") 会员列表
      li.active 查看会员
    div.page-header
      h3 基本信息
    form.form-horizontal
      div.form-group
        label.col-sm-2.control-label 状态:
        select.col-sm-5.form-control(v-model='memberData.status',@change='deactivateAlert',style='margin-left:15px;width:auto')
          option.text-success(value='active') 激活
          option.text-danger(value='inactive') 未激活
      div.form-group
        label.col-sm-2.control-label 姓名:
        div.col-sm-5
          input.form-control(v-model.trim='memberData.name', placeholder='小朋友姓名')
        div.col-sm-5
          p.form-control-static(style='color:#808080')
            small {{memberData.since | formatDate}}注册会员
      div.form-group
        label.col-sm-2.control-label 联系方式:
        div.col-sm-5
          input.form-control(v-model.trim='memberData.contact', placeholder='135xxx')
      div.form-group
        label.control-label.col-sm-2 宝宝生日:
        div.col-sm-4
          div#birth_date.input-group.date
            input.form-control(text='text')
            span.input-group-addon
              span.glyphicon.glyphicon-calendar
      div.form-group
        label.control-label.col-sm-2 简介:
        div.col-sm-10
          textarea.form-control(rows='3', name='note',v-model.trim='memberData.note')
      div.form-group
        div.col-sm-offset-2.col-sm-10
          button.btn.btn-success(type='button',v-on:click='saveBasicInfo') 保存
          div.alert.alert-danger(style='position:absolute;top:0px;left:100px;right:15px;padding:10px',v-if='errors')
            strong 错误! 
            |{{errors.basic}}
    div.page-header
      h3 会员卡
    template(v-if='memberData.membership&&memberData.membership.length')
      card(v-for="(card, i) in memberData.membership",@save="saveCardInfo",:item='card',:index='i')
    template(v-else)
      card(@save="saveCardInfo",:item='{credit:0,room:[]}',:index=-1,key='-1')
    div.page-header
      h3= __('course_summary_title')
    table.table.table-bordered.table-striped.table-striped
      thead
        tr
          th= __('course_name')
          th= __('finished')
          th= __('unfinished')
          th= __('total')
      tbody(v-if='memberData.summary&&memberData.summary.length')
        tr(v-for='course in memberData.summary')
          td(v-if='course._id') {{course.courseName || "#{__('deleted_course')}"}}
            a.btn.btn-primary.btn-xs(:href='"../course/" + course._id',style='margin-left:3px')= __('view')
          td(v-else)= __('other_self_booking')
          td {{course.finished}}
          td {{course.unfinished}}
          td {{course.total}}
      tbody(v-else)
        tr
          td(colspan='4',style='text-align:center')= __('no_record')
    div.page-header
      h3 备忘
    form.form-horizontal
      div.form-group
        div.col-sm-2
          button.btn.btn-primary.btn-sm(type="button",:disabled='!memberData._id',@click='addComment')
            span.glyphicon.glyphicon-plus 新备忘
        div.col-sm-10
          template(v-for="(comment, key) in memberData.comments")
            div.media
              div.media-left
                span.glyphicon.glyphicon-comment.text-primary(style='font-size:large;opacity:0.8')
              div.media-body
                h4.media-heading(style='font-size:small') {{comment.text}}
                p.small(style='color:#777;position:relative') by {{comment.author}} at {{comment.posted | formatDateTime}}
                  button.btn.btn-default.btn-xs.edit(type='button',v-on:click='editComment(key)',style='margin:-3px 3px;position:absolute')
                    span.glyphicon.glyphicon-pencil
          small(style='color:#777') 共{{commentCount}}条备忘
  div.container(data-member-id='#{memberID}')
    div.page-header
      h3(style='margin-top:0;display:inline-block') 充值记录
      a#loadHistoryBtn(href='#',title='点击加载')
        span.glyphicon.glyphicon-refresh(style='font-size:large;margin-left:5px')
    div#loadHistory_mask(style='display:none')
      table#history_table(data-striped='true',data-pagination='true',data-page-size='10')
        thead
          tr
            th(data-field='date') 日期
            th(data-field='target') 属性
            th(data-field='new') 变更
            th(data-field='remark') 备注
    div.page-header
      h3(style='margin-top:0;display:inline-block') 上课记录
      a#loadClassesBtn(href='#',title='点击加载')
        span.glyphicon.glyphicon-refresh(style='font-size:large;margin-left:5px')
    div#loadClasses_mask(style='display:none')
      div.filter(style='margin:0 0 7px 3px')
        label.radio-inline
          input(type="radio",name="classFilter",value="PAST",checked)
          |已上课程
        label.radio-inline
          input(type="radio",name="classFilter",value="FUTURE")
          |未上课程
        label.radio-inline
          input(type="radio",name="classFilter",value="ALL")
          |全部
      table#classes_table(data-striped='true',data-sort-name='date',data-sort-order='desc',data-pagination='true',data-page-size='10',data-unique-id="_id")
        thead
          tr
            //th(data-field='_id',data-visible='false') ID
            th(data-field='name') 课程名称
            th(data-field='cost') 课时
            th(data-field='date',data-sortable='true') 课程日期
    div(style='height:20px')
  script#card-template(type='text/x-template')
    form.form-horizontal
      div.form-group
        label.control-label.col-sm-2 课时:
        div.col-sm-10
          p.form-control-static {{item.credit | formatCredit}}次(剩余)
      div.form-group
        label.control-label.col-sm-2 增加/减少:
        div.col-sm-10(style="display:inline-flex")
          button.btn.btn-sm.btn-danger(type="button",style="margin:2px;padding:3px",@click="alterCharge(-10)")
            span.glyphicon.glyphicon-minus
            | 10
          button.btn.btn-sm.btn-danger(type="button",style="margin:2px;padding:3px",@click="alterCharge(-1)")
            span.glyphicon.glyphicon-minus
            | 1
          input.form-control(type='number',v-model.number='delta',min='-100',max='100',step='0.1',style="width:85px;margin:0 2px")
          button.btn.btn-sm.btn-success(type="button",style="margin:2px;padding:3px",@click="alterCharge(1)")
            span.glyphicon.glyphicon-plus
            | 1
          button.btn.btn-sm.btn-success(type="button",style="margin:2px;padding:3px",@click="alterCharge(10)")
            span.glyphicon.glyphicon-plus
            | 10
      div.form-group
        label.control-label.col-sm-2 有效期至:
        div.col-sm-4
          div#expire_date.input-group.date
            input.form-control(text='text',v-model='expireDate')
            span.input-group-addon
              span.glyphicon.glyphicon-calendar
      div.form-group
        label.control-label.col-sm-2 类型:
        div.col-sm-5
          select.form-control(name="card_type",v-model='type')
            option(value='ALL') 通用卡
            option(value='LIMITED') 限定卡
      div.form-group(v-show='isLimitedCard')
        label.control-label.col-sm-2 可用教室:
        div#roomlist.col-sm-10
          - each room in classroom
            div.checkbox
              label
                input(type="checkbox", value=room.id,v-model='room')
                = room.name
      div.form-group
        div.col-sm-offset-2.col-sm-10
          button.btn.btn-success(type='button',v-on:click='validteBeforeSave') 保存
          div.alert.alert-danger(style='position:absolute;top:0px;left:100px;right:15px;padding:10px',v-if='error')
            strong 错误! 
            |{{error}}
  div#comment_dlg.modal.fade(tabindex='-1',data-backdrop='static')
    div.modal-dialog
      div.modal-content
        div.modal-header
          button.close(type="button",data-dismiss="modal",aria-label="Close")
            span(aria-hidden="true") &times
          h4.modal-title 添加备忘
        div.modal-body
          form
            div.form-group
              label.control-label 新备忘:
              textarea.form-control(rows='3', name='comment')
              small(style='color:#777;float:right;margin-top:2px') 不超过256个字
        div.modal-footer
          button.btn.btn-default(type="button",data-dismiss="modal") 取消
          button#add_comment.btn.btn-success(type="button") 添加
  div#editComment_dlg.modal.fade(tabindex='-1',data-backdrop='static')
    div.modal-dialog
      div.modal-content
        div.modal-header
          button.close(type="button",data-dismiss="modal",aria-label="Close")
            span(aria-hidden="true") &times
          h4.modal-title 修改备忘
        div.modal-body
          form
            div.form-group
              label.control-label 备忘:
              textarea.form-control(rows='3', name='comment')
              small(style='color:#777;float:right;margin-top:2px') 不超过256个字
        div.modal-footer
          button.btn.btn-default(type="button",data-dismiss="modal") 取消
          button#edit_comment.btn.btn-success(type="button") 更新
  div#historyComment_dlg.modal.fade(tabindex='-1',data-backdrop='static')
    div.modal-dialog
      div.modal-content
        div.modal-header
          button.close(type="button",data-dismiss="modal",aria-label="Close")
            span(aria-hidden="true") &times
          h4.modal-title 确认并保存
        div.modal-body
          form
            div.form-group
              label.control-label 备注:
              textarea.form-control(rows='3', name='comment',placeholder='备注修改会员卡的原因（选填）')
              small(style='color:#777;float:right;margin-top:2px') 不超过256个字，添加到备忘和充值记录备注中
        div.modal-footer
          button.btn.btn-default(type="button",data-dismiss="modal") 取消
          button.btn.btn-success(type="button") 保存