extends ../index

block navlist
  include navigation.pug

append css
  link(rel="stylesheet",href=CDN_FILES.bootstrap_table_css)
  link(rel="stylesheet",href=CDN_FILES.bootstrap_datetimepicker_css)

append js
  script(src=CDN_FILES.momentjs)
  script(src=CDN_FILES.bootbox)
  script(src=CDN_FILES.bootstrap_table)
  script(src=CDN_FILES.bootstrap_table_locale_zh_CN)
  script(src=CDN_FILES.bootstrap_datetimepicker)
  script(src='/js/member.js')

block page
  div.container(style={'padding-top': '58px'})
    div#toolbar(role='group',style='line-height:1.5;display:inline-block')
      div.btn-group(role='group')
        button.btn.btn-success(type='button',data-toggle='modal',data-target='#member_dlg', data-action='add') 添加
        button.btn.btn-default(type='button',data-toggle='modal',data-target='#filter_dlg', data-action='filter')
          span.glyphicon.glyphicon-filter
      label(style='margin-left:7px;margin-right:7px') 状态:
      label.text-success.checkbox-inline
        input(type="checkbox",value='active',checked)
        | 正常
      label.text-danger.checkbox-inline
        input(type="checkbox" value='inactive')
        | 停用
    table#member_table(data-show-refresh='true',data-checkbox-header='false',data-pagination='true',data-page-size='15',data-page-list='[10,15,20,50,All]',data-search='true',data-striped='true',data-url='/api/members',data-row-style='highlightExpire',data-show-columns='true',data-toolbar='#toolbar',data-unique-id="_id",data-click-to-select="true")
      thead
        tr
          //th(data-radio='true')
          th(data-align='center')
          //th(data-field='_id',data-visible='false') ID
          th(data-field='name',data-sortable='true') 宝宝姓名
          th(data-field='contact') 联系方式
          th(data-field='birthday',data-sortable='true') 宝宝生日
          th(data-field='allRemaining',data-sortable='true') 剩余课时+课节
          th(data-sortable='true',data-sort-name='membership.0.expire') 有效期
          //th(data-field='since',data-sortable='true') 登记时间
          th(data-sortable='true',data-sort-name='membership.0.credit',data-visible='false') 剩余课时
          th(data-field='unStartedClassCount',data-sortable='true',data-visible='false') 剩余课程
          th(data-field='note',data-visible='false') 简介
    p.small 有效会员: <strong>#{statistics.count}</strong>人<br>剩余课时: <b>#{statistics.total}</b>
  div#member_dlg.modal.fade(tabindex='-1',role='dialog',aria-labelledby='myModalLabel',data-backdrop='static')
    div.modal-dialog(role="document")
      div.modal-content
        div.modal-header
          button.close(type="button",data-dismiss="modal",aria-label="Close")
            span(aria-hidden="true") &times
          h4#myModalLabel.modal-title 添加会员
        div.modal-body
          form.form-horizontal
            div.form-group
              label.control-label.col-sm-2(for='name') 姓名:
              div.col-sm-4
                input.form-control(type='text',name='name',placeholder='小朋友的姓名')
              div.col-sm-4
                p.form-control-static(style='color:#808080')
                  small 必填
            div.form-group
              label.control-label.col-sm-2(for='contact') 联系方式:
              div.col-sm-4
                input.form-control(type='tel',name='contact',placeholder='135xxx')
              div.col-sm-4
                p.form-control-static(style='color:#808080')
                  small 必填
            div.form-group
              label.control-label.col-sm-2(for='birth') 生日:
              div.col-sm-4
                div#birth_date.input-group.date
                  input.form-control(type='text',name='brith')
                  span.input-group-addon
                    span.glyphicon.glyphicon-calendar
            div.form-group
              label.control-label.col-sm-2(for='note') 描述:
              div.col-sm-10
                textarea.form-control(rows='3', name='note',placeholder='添加更多备注信息, 比如昵称')
        div.modal-footer
          button.btn.btn-default(type="button",data-dismiss="modal") 取消
          button#add_member.btn.btn-success(type="button") 添加
  div#filter_dlg.modal.fade(tabindex='-1',data-backdrop='static')
    div.modal-dialog
      div.modal-content
        div.modal-header
          button.close(type="button",data-dismiss="modal",aria-label="Close")
            span(aria-hidden="true") &times
          h4.modal-title 会员过滤
        div.modal-body
          form.form-horizontal
            div.form-group(style='margin-bottom:auto')
              p.form-control-static(style='color:#808080;text-align:center')
                small 请选择一个过滤条件，并在更改后点击会员列表右上角的刷新按钮
            div.form-group
              label.control-label.col-sm-2 过滤条件:
              div.col-sm-10
                div.radio
                  label
                    input(type="radio", name="filter", value="null", checked)
                    | 显示全部会员
                each room in classroom
                  div.radio
                    label
                      input(type="radio", name="filter", value=room.id)
                      | 显示只能在<u>#{room.name}</u>消费的会员
        div.modal-footer
          button.btn.btn-primary(type="button",data-dismiss="modal") 确定
