extends ../index

block navlist
  include navigation.pug

append css
  link(rel="stylesheet",href=CDN_FILES.bootstrap_datetimepicker_css)

append js
  script(src=CDN_FILES.momentjs)
  //script(src=CDN_FILES.bootbox)
  script(src=CDN_FILES.bootstrap_datetimepicker)
  if ENV_DEVELOPMENT
    script(src=CDN_FILES.i18next_dev)
    script(src=CDN_FILES.vue_runtime_dev)
  else
    script(src=CDN_FILES.i18next)
    script(src=CDN_FILES.vue_runtime)
  script(src=CDN_FILES.bootstrap_table_vue)
  script(type="module" src=getModulePath('members/member.js'))

block page
  div.container(style={'padding-top': '58px'})
    div#app
    //p.small 有效会员: <strong>#{statistics.count}</strong>人<br>剩余课时: <b>#{statistics.total}</b>
  div#filter_dlg.modal.fade(tabindex='-1',data-backdrop='static')
    div.modal-dialog
      div.modal-content
        div.modal-header
          button.close(type="button",data-dismiss="modal",aria-label="Close")
            span(aria-hidden="true") &times
          h4.modal-title 会员过滤
        div.modal-body
          form.form-horizontal
            div.form-group(style='margin-bottom:auto')
              p.form-control-static(style='color:#808080;text-align:center')
                small 请选择一个过滤条件，并在更改后点击会员列表右上角的刷新按钮
            div.form-group
              label.control-label.col-sm-2 过滤条件:
              div.col-sm-10
                div.radio
                  label
                    input(type="radio", name="filter", value="null", checked)
                    | 显示全部会员
                each room in classrooms
                  div.radio
                    label
                      input(type="radio", name="filter", value=room.id)
                      | 显示只能在<u>#{room.name}</u>消费的会员
        div.modal-footer
          button.btn.btn-primary(type="button",data-dismiss="modal") 确定
