extends ../index

block navlist
  ul.nav.navbar-nav
    li
      a(href='home') 课程表
    li.active
      a(href='#') 会员
    li
      a(href='course') 班级
    li
      a(href='opportunity') 试听
    li
      a(href='setting') 设置

append css
  link(rel="stylesheet",href="//cdn.bootcss.com/bootstrap-table/1.11.0/bootstrap-table.min.css")
  link(rel="stylesheet",href="/components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css")

append js
  script(src="//cdn.bootcss.com/moment.js/2.13.0/moment-with-locales.min.js")
  //script(src='/components/bootbox.js/bootbox.js')
  script(src='//cdn.bootcss.com/bootbox.js/4.4.0/bootbox.min.js')
  //script(src='/components/requirejs/require.js',data-main="/js/main")
  script(src="//cdn.bootcss.com/bootstrap-table/1.11.0/bootstrap-table.min.js")
  script(src="//cdn.bootcss.com/bootstrap-table/1.11.0/locale/bootstrap-table-zh-CN.min.js")
  script(src="/components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js")
  script(src='/js/member.js')

block page
  div.container(style={'padding-top': '58px'})
    div#toolbar.btn-group(role='group')
      button.btn.btn-success(type='button',data-toggle='modal',data-target='#member_dlg', data-action='add') 添加
      button.btn.btn-primary(type='button',data-toggle='modal',data-target='#member_dlg', data-action='edit') 修改
      button#del_member.btn.btn-danger(type='button') 删除
      button.btn.btn-default(type='button',data-toggle='modal',data-target='#filter_dlg', data-action='filter')
        span.glyphicon.glyphicon-filter
    table#member_table(data-toggle="table",data-show-refresh='true',data-checkbox-header='false',data-pagination='true',data-page-size='15',data-page-list='[10,15,20,50,All]',data-search='true',data-striped='true',data-url='api/members',data-row-style='highlightExpire',data-show-columns='true',data-toolbar='#toolbar',data-unique-id="_id",data-click-to-select="true",data-query-params="customQuery")
      thead
        tr
          th(data-radio='true')
          //th(data-field='_id',data-visible='false') ID
          th(data-field='name',data-sortable='true') 宝宝姓名
          th(data-field='contact') 联系方式
          th(data-field='birthday',data-formatter='dateFormatter',data-sortable='true') 宝宝生日
          th(data-field='membership',data-formatter='creditFormatter',data-sortable='true',data-sort-name='membership.0.credit') 剩余课时
          th(data-field='membership.0',data-sortable='true',data-sort-name='membership.0.expire',data-formatter='membershipFormatter',data-events='editMembership') 会员卡
          th(data-field='since',data-formatter='dateFormatter',data-sortable='true') 登记时间
          th(data-field='note',data-visible='false') 备注
    p.small 有效会员: <strong>#{statistics.count}</strong>人<br>剩余课时: <b>#{statistics.total}</b>
  div#member_dlg.modal.fade(tabindex='-1',role='dialog',aria-labelledby='myModalLabel',data-backdrop='static')
    div.modal-dialog(role="document")
      div.modal-content
        div.modal-header
          button.close(type="button",data-dismiss="modal",aria-label="Close")
            span(aria-hidden="true") &times
          h4#myModalLabel.modal-title 添加会员
        div.modal-body
          form.form-horizontal
            div.form-group
              label.control-label.col-sm-2(for='name') 宝宝姓名:
              div.col-sm-4
                input.form-control(type='text',name='name',placeholder='宝宝姓名')
            div.form-group
              label.control-label.col-sm-2(for='contact') 联系方式:
              div.col-sm-4
                input.form-control(type='tel',name='contact',placeholder='135xxx')
            div.form-group
              label.control-label.col-sm-2(for='birth') 宝宝生日:
              div.col-sm-4
                div#birth_date.input-group.date
                  input.form-control(text='text',name='brith')
                  span.input-group-addon
                    span.glyphicon.glyphicon-calendar
            div.form-group
              label.control-label.col-sm-2(for='note') 备注:
              div.col-sm-10
                textarea.form-control(rows='3', name='note')
        div.modal-footer
          button#view_history.btn.btn-primary.pull-left(type="button") 历史课程
          button.btn.btn-default(type="button",data-dismiss="modal") 取消
          button#add_member.btn.btn-success(type="button") 添加
          button#edit_member.btn.btn-success(type="button") 修改

  div#filter_dlg.modal.fade(tabindex='-1',data-backdrop='static')
    div.modal-dialog
      div.modal-content
        div.modal-header
          button.close(type="button",data-dismiss="modal",aria-label="Close")
            span(aria-hidden="true") &times
          h4.modal-title 会员过滤
        div.modal-body
          form.form-horizontal
            div.form-group(style='margin-bottom:auto')
              p.form-control-static(style='color:#808080;text-align:center')
                small 请选择一个过滤条件，并在更改后点击会员列表右上角的刷新按钮
            div.form-group(style='margin-bottom:7px')
              label.control-label.col-sm-2 过滤条件:
              div.col-sm-10
                div.radio
                  label
                    input(type="radio", name="filter", value="null", checked)
                    | 显示全部会员
                - each room in classroom
                  div.radio
                    label
                      input(type="radio", name="filter", value=room.id)
                      | 显示只能在<u>#{room.name}</u>消费的会员
        div.modal-footer
          button.btn.btn-primary(type="button",data-dismiss="modal") 确定
  div#history_member.modal.fade(tabindex='-1',data-backdrop='static')
    div.modal-dialog
      div.modal-content
        div.modal-header
          button.close(type="button",data-dismiss="modal",aria-label="Close")
            span(aria-hidden="true") &times
          h4.modal-title 会员历史课程
        div.modal-body
          form.form-horizontal
            div.form-group(style='margin-bottom:7px')
              label.control-label.col-sm-2 宝宝姓名:
              div.col-sm-10
                p#name.form-control-static
          table(data-toggle="table",data-checkbox-header='false',data-striped='true',data-pagination='true',data-page-size='10',data-unique-id="_id")
            thead
              tr
                //th(data-field='_id',data-visible='false') ID
                th(data-field='name') 课程名称
                th(data-field='cost') 所须课时
                th(data-field='date',data-formatter='dateFormatter',data-sortable='true') 课程日期
  div#membership_dlg.modal.fade(tabindex='-1',data-backdrop='static')
    div.modal-dialog
      div.modal-content
        div.modal-header
          button.close(type="button",data-dismiss="modal",aria-label="Close")
            span(aria-hidden="true") &times
          h4.modal-title 会员卡
        div.modal-body
          form.form-horizontal
            div.form-group(style='margin-bottom:7px')
              label.control-label.col-sm-2 宝宝姓名:
              div.col-sm-10
                p#name.form-control-static
            div.form-group(style='margin-bottom:7px')
              label.control-label.col-sm-2 课时:
              div.col-sm-10(style="display:inline-flex")
                p#credit.form-control-static {0}
                p.form-control-static 次(剩余)
                button#charge_btn.btn.btn-sm.btn-primary(type="button",style="margin:2px") 充值...
            div.form-group(style='margin-bottom:7px')
              label.control-label.col-sm-2 有效期至:
              div.col-sm-4
                div#expire_date.input-group.date
                  input.form-control(text='text')
                  span.input-group-addon
                    span.glyphicon.glyphicon-calendar
            div.form-group(style='margin-bottom:7px')
              label.control-label.col-sm-2 类型:
              div.col-sm-4
                select.form-control(name="card_type")
                  option(value='ALL') 通用卡
                  option(value='LIMITED') 限定卡
            div.form-group(style='margin-bottom:7px')
              label.control-label.col-sm-2 可用教室:
              div#roomlist.col-sm-10
                - each room in classroom
                  div.checkbox
                    label
                      input(type="checkbox", value=room.id)
                      = room.name
        div.modal-footer
          button.btn.btn-default(type="button",data-dismiss="modal") 取消
          button#ok.btn.btn-success(type="button") 确定
  div#charge_dlg.modal.fade(tabindex='-1',data-backdrop='static')
    div.modal-dialog
      div.modal-content
        div.modal-header
          button.close(type="button",data-dismiss="modal")
            span &times
          h4.modal-title 充值
        div.modal-body
          form.form-horizontal
            div.form-group(style='margin-bottom:7px')
              label.control-label.col-sm-2 宝宝姓名:
              div.col-sm-10
                p#name.form-control-static
            div.form-group(style='margin-bottom:7px')
              label.control-label.col-sm-2 剩余课时:
              div.col-sm-10(style="display:inline-flex")
                p#credit.form-control-static {0}
                p.form-control-static 次
            div.form-group(style='margin-bottom:7px')
              label.control-label.col-sm-2 增加/减少:
              div.col-sm-10(style="display:inline-flex")
                button.btn.btn-sm.btn-danger(type="button",style="margin:2px;padding:3px",onClick="alterCharge(-10)")
                  span.glyphicon.glyphicon-minus
                  | 10
                button.btn.btn-sm.btn-danger(type="button",style="margin:2px;padding:3px",onClick="alterCharge(-1)")
                  span.glyphicon.glyphicon-minus
                  | 1
                input.form-control(type='number',name='charge',min='-100',max='100',step='0.1',style="width:85px;margin:0 2px")
                button.btn.btn-sm.btn-success(type="button",style="margin:2px;padding:3px",onClick="alterCharge(1)")
                  span.glyphicon.glyphicon-plus
                  | 1
                button.btn.btn-sm.btn-success(type="button",style="margin:2px;padding:3px",onClick="alterCharge(10)")
                  span.glyphicon.glyphicon-plus
                  | 10
            div.form-group
              label.control-label.col-sm-2 备注:
              div.col-sm-8
                input.form-control(type='text',placeholder='例：充值1200元', name='remark')
            div.form-group(style='margin-bottom:7px;border-top:1px solid #e5e5e5')
              label.control-label.col-sm-2 充值记录:
              div.col-sm-10(style='margin-top:7px')
                table(data-toggle="table",data-sort-name="date",data-striped='true',data-pagination='true',data-page-size='6')
                  thead
                    tr
                      th(data-field='date',data-formatter='dateFormatter') 日期
                      th(data-field='new',data-formatter='deltaFormatter') 课时变化
                      th(data-field='remark') 备注
        div.modal-footer
          button.btn.btn-default(type="button",data-dismiss="modal") 取消
          button#ok.btn.btn-success(type="button") 确定
  script(type='text/javascript').
    function alterCharge(value) {
        var inputCharge = $(event.target).closest("div").find("input[name=charge]");
        var currentVal = isNaN(parseFloat(inputCharge.val()))? 0 : parseFloat(inputCharge.val());
        inputCharge.val(Math.round((currentVal + value)*10)/10);
    };
    function deltaFormatter(value, row, index) {
        return [
            Math.round(row.old * 10)/10,
            ' <i class="text-primary glyphicon glyphicon-arrow-right"></i> ',
            Math.round(row.new * 10)/10
        ].join('');
    };
    function dateFormatter(value) {
        if (value) {
            return moment(value).format('ll');
        } else {
            return undefined;
        }
    };
    function highlightExpire(row, index) {
        //TODO, 
        return {};
        if (row.expire) {
            var expire = new Date(row.expire);
            // highlight the row if member is expired
            if (expire < new Date()) {
                return {
                    classes: 'danger'
                };
            }
            // highlight the row if member has no credit
            if (row.hasOwnProperty('credit') && row.credit <= 0) {
                return {
                    classes: 'danger'
                };
            }
        }
        return {};
    };
    function creditFormatter(membership) {
        if (membership && membership[0]) {
            // A better way of 'toFixed(1)'
            if (typeof(membership[0].credit) == 'number') {
                return Math.round(membership[0].credit * 10)/10;
            } else {
                return membership[0].credit;
            }
        } else {
            return undefined;
        }
    };
    function membershipFormatter(value) {
        var color = "text-success";
        if (value) {
            // highlight the card if member is expired or has no credit
            if (new Date(value.expire) < new Date() || value.credit <=0) {
                color = 'text-danger';
            }
        } else {
            // highlight the card if member has no card
            color = 'text-muted';
        }
        return [
            //TODO, update title according to different color
            '<a class="membership ' + color + '" href="javascript:void(0)" title="会员卡">',
            '<i class="glyphicon glyphicon-credit-card"></i> 会员卡',
            '</a>'
        ].join('');
    };