extends ../mlayout

block append js
  script(src=CDN_FILES.momentjs)
  if ENV_DEVELOPMENT
    script(src=CDN_FILES.i18next_dev)
    script(src=CDN_FILES.vue_dev)
  else
    script(src=CDN_FILES.i18next)
    script(src=CDN_FILES.vue)
  script(src='/js/mybooking.js')

block content
  div#app
