extends ../mlayout

block append js
  script(src=CDN_FILES.momentjs)
  if ENV_DEVELOPMENT
    script(src=CDN_FILES.i18next_dev)
    script(src=CDN_FILES.vue_dev)
  else
    script(src=CDN_FILES.i18next)
    script(src=CDN_FILES.vue)
  script(src='/js/myreadbooks.js')

block content
  img.center-block(src=logoPath,style="padding:0px;width:200px")
  my-read-books#app
  div#error_dlg.modal(tabindex='-1',data-backdrop='static')
    div.modal-dialog.modal-sm
      div.modal-content
        div.modal-header
          button.close(type="button",data-dismiss="modal",aria-label="Close")
            span(aria-hidden="true") &times
          h4#myModalLabel.modal-title 登录失败
        div.modal-body
          p#message
          p
            small 客服电话: 
              a(href='tel:' + tel)= contact
            br
            small 门店地址: 
              a(href=addressLink)= address
        div.modal-footer
          button#error_ok.btn.btn-danger(type="button",data-dismiss="modal") 确定
