extends ../mlayout

block append js
  script(src=CDN_FILES.momentjs)
  if ENV_DEVELOPMENT
    script(src=CDN_FILES.i18next_dev)
    script(src=CDN_FILES.vue_runtime_dev)
  else
    script(src=CDN_FILES.i18next)
    script(src=CDN_FILES.vue_runtime)
  script(type="module" src=getModulePath('mybooks/mybooks.js'))

block content
  img.center-block(src=logoPath,style="padding:0px;width:200px")
  div#app
