extends ../index

block navlist
  include navigation.pug

append css
  link(rel="stylesheet",href=CDN_FILES.bootstrap_datetimepicker_css)

append js
  script(src=CDN_FILES.momentjs)
  script(src=CDN_FILES.bootstrap_datetimepicker)
  if ENV_DEVELOPMENT
    script(src=CDN_FILES.i18next_dev)
    script(src=CDN_FILES.vue_dev)
  else
    script(src=CDN_FILES.i18next)
    script(src=CDN_FILES.vue)
  script(src=CDN_FILES.bootstrap_table_vue)
  script(src='/js/orders.js')

block page
  div.container(style={'padding-top': '58px'})
    div#app
