extends ../index

block navlist
  include navigation.pug

append css
  link(rel="stylesheet",href=CDN_FILES.bootstrap_table_css)

append js
  script(src=CDN_FILES.momentjs)
  if ENV_DEVELOPMENT
    script(src="//cdnjs.cloudflare.com/ajax/libs/echarts/3.8.5/echarts.js")
    script(src=CDN_FILES.i18next_dev)
    script(src=CDN_FILES.vue_dev)
  else
    script(src="//cdnjs.cloudflare.com/ajax/libs/echarts/3.8.5/echarts.min.js")
    script(src=CDN_FILES.i18next)
    script(src=CDN_FILES.vue)
  script(src=CDN_FILES.bootbox)
  script(src=CDN_FILES.bootstrap_table)
  script(src=CDN_FILES.bootstrap_table_locale_zh_CN)
  script(src='/js/statistics.js')
  script(type='text/javascript').
    function _getClassrooms() {
        return !{JSON.stringify(classrooms)};
    };

block page
  div#statistics-app.container(style={'padding-top': '58px'})
    statistics-page