extends ../mlayout

block append js
  script(src=CDN_FILES.momentjs)
  if ENV_DEVELOPMENT
    script(src=CDN_FILES.i18next_dev)
    script(src=CDN_FILES.vue_dev)
  else
    script(src=CDN_FILES.i18next)
    script(src=CDN_FILES.vue)
  script(src="//g.alicdn.com/sd/nch5/index.js?t=2015052012")
  script(src='/js/trial.js')
block content
  // display log in the top
  div.container
    div.row
      img.center-block(src=logoPath,style="width:200px")
  div#app
