extends ../../index

append css
  link(rel="stylesheet",href=CDN_FILES.bootstrap_datetimepicker_css)

append js
  script(src=CDN_FILES.momentjs)
  script(src=CDN_FILES.bootbox)
  script(src=CDN_FILES.bootstrap_datetimepicker)
  if ENV_DEVELOPMENT
    script(src=CDN_FILES.i18next_dev)
    script(src=CDN_FILES.vue_dev)
  else
    script(src=CDN_FILES.i18next)
    script(src=CDN_FILES.vue)
  script(src='/js/class_view.js')

  script(type='text/javascript').
    function _getClassrooms() {
        return !{JSON.stringify(classrooms)};
    };
block page
  div#class_app(style='padding-top:69px',data-class-id=classID)
    class-view(:data="cls",:classrooms="_getClassrooms()")
