extends ../../index

append css
  link(rel="stylesheet",href=CDN_FILES.bootstrap_table_css)
  link(rel="stylesheet",href=CDN_FILES.bootstrap_datetimepicker_css)

append js
  script(src=CDN_FILES.momentjs)
  script(src=CDN_FILES.bootbox)
  script(src=CDN_FILES.bootstrap_table)
  script(src=CDN_FILES.bootstrap_table_locale_zh_CN)
  script(src=CDN_FILES.bootstrap_table_vue)
  script(src=CDN_FILES.bootstrap_datetimepicker)
  if ENV_DEVELOPMENT
    script(src=CDN_FILES.i18next_dev)
    script(src=CDN_FILES.vue_dev)
  else
    script(src=CDN_FILES.i18next)
    script(src=CDN_FILES.vue)
  script(src='/js/member_view.js')
block page
  div#memberID.hidden-print(style='padding-top:69px',data-member-id=memberID)
  div#app.container
  div#historyComment_dlg.modal.fade(tabindex='-1',data-backdrop='static')
    div.modal-dialog
      div.modal-content
        div.modal-header
          button.close(type="button",data-dismiss="modal",aria-label="Close")
            span(aria-hidden="true") &times
          h4.modal-title 确认并保存
        div.modal-body
          form
            div.form-group
              label.control-label 备注:
              textarea.form-control(rows='3', name='comment',placeholder='备注修改会员卡的原因（选填）')
              small(style='color:#777;float:right;margin-top:2px') 不超过256个字，添加到备忘和充值记录备注中
        div.modal-footer
          button.btn.btn-default(type="button",data-dismiss="modal") 取消
          button.btn.btn-success(type="button") 保存
